{% include "header.html" %}

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <ol>
         {% for product in products %}
           <li>
             <a href="{{ url_for('show_product', product_id=product.id) }}">{{ product.name }}</a>
             <span class="ml-2">
               <a href="{{ url_for('edit_product', product_id=product.id) }}" class="text-warning">edit</a>
             </span>
             <span class="ml-2">
               <a href="{{ url_for('delete_product', product_id=product.id) }}" class="text-danger">delete</a>
             </span>
           </li>
         {% endfor %}
       </ol>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
